* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Inter", sans-serif;
  margin-bottom: 0.625rem;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.12rem;
}

h4 {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1.57rem;
}

ul li {
  font-family: "Inter", sans-serif;
  list-style: none;
}

.link-twitter {
  height: 6.25rem;
  width: 6.25rem;
}

.link-instagram {
  height: 6.25rem;
  width: 6.25rem;
}

.link-faceboock {
  height: 6.25rem;
  width: 6.25rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 8.75rem;
  background-color: #2f44fd;
  margin-top: 12.5rem;
  align-items: center;
  justify-items: center;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 4.6875rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  background-color: #5874db;
}
.navbar li a {
  color: black;
  font-size: 1.625rem;
}
.navbar li a:hover {
  color: rgb(143, 194, 241);
}

nav ul li {
  display: inline;
}

header nav ul {
  text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  background-image: url("https://i.pinimg.com/originals/29/8f/da/298fdab6747599714130d5670b81ceee.png");
  text-align: center;
  align-content: center;
  text-transform: capitalize;
  font-size: 85px;
  height: 9.375rem;
  width: 100%;
  margin-bottom: -0.0625rem;
}

.img-precentacion {
  height: 12.5rem;
  width: 21.875rem;
  border-radius: 20px;
  margin-bottom: 0.1875rem;
}

.articulo {
  font-size: 3.75rem;
  text-align: center;
  margin-top: 6.25rem;
  margin-bottom: 3.125rem;
}

.ver-mas {
  display: block;
  margin: 5rem auto;
}

.alimentos {
  text-align: center;
  margin-bottom: 6.25rem;
  margin-top: 9.375rem;
}
.alimentos img {
  height: 25rem;
  width: 43.75rem;
  border-radius: 10px;
  text-align: center;
}

.alimentos-1 {
  text-align: center;
  margin-top: 9.375rem;
  margin-bottom: 6.25rem;
}
.alimentos-1 img {
  height: 21.875rem;
  width: 43.75rem;
  border-radius: 10px;
}

.adopcion {
  text-align: center;
  margin-top: 9.375rem;
  margin-bottom: 6.25rem;
}

.section-1 {
  grid-area: section-1;
}

.section-2 {
  grid-area: section-2;
}
.section-2 h2 {
  font-size: 1.875rem;
}
.section-2 p {
  font-size: 1.493rem;
}

.section-3 {
  grid-area: section-3;
}
.section-3 h2 {
  margin-bottom: 2.5rem;
  font-size: 2.1875rem;
}
.section-3 p {
  font-size: 1.875rem;
}

.section-4 {
  grid-area: section-4;
}

.section-5 {
  grid-area: section-5;
}

.section-6 {
  grid-area: section-6;
}
.section-6 h2 {
  margin-bottom: 2.5rem;
  font-size: 2.1875rem;
}
.section-6 p {
  font-size: 1.875rem;
}

.section-7 {
  grid-area: section-7;
  margin-top: 1.5625rem;
}
.section-7 h2 {
  margin-bottom: 2rem;
  font-size: 2.15rem;
}
.section-7 p {
  font-size: 1.875rem;
}

.section-8 {
  grid-area: section-8;
}

.section-f1 {
  grid-area: section-f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-f1 h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 6.25rem;
}

.section-f2 {
  grid-area: section-f2;
}

.section-f3 {
  grid-area: section-f3;
}

.section-f4 {
  grid-area: section-f4;
}

.section-f5 {
  grid-area: section-f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-f5 h3 {
  font-size: 2.8125rem;
  margin-bottom: 6rem;
}

.section-f6 {
  grid-area: section-f6;
}
.section-f6 h4 {
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 3.125rem;
}

.section-f7 {
  grid-area: section-f7;
}
.section-f7 h4 {
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 3.125rem;
}

button, .button-2 {
  padding: 9px 20px;
  border-radius: 10px;
}

.button-2 {
  color: white;
  background-color: rgb(3, 3, 161);
}

.card {
  width: 11.875rem;
  height: 20.625rem;
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.726);
  margin: 1.875rem;
}
.card .card-img {
  width: 100%;
  height: 70%;
}
.card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 0.625rem;
}
.card .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.card .card-info button, .card .card-info .button-2 {
  border-radius: 5px;
}
.card .card-info p {
  margin-left: 10px;
}

.card-info button, .card-info .button-2, .card-info p {
  margin: 5px 0;
}

.contenedor-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-1 {
  width: 11.875rem;
  height: 21.875rem;
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.726);
  margin: 1.875rem;
}
.card-1 .card-img-1 {
  width: 100%;
  height: 60%;
}
.card-1 .card-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  border-radius: 0.625rem;
}
.card-1 .card-info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}
.card-1 .card-info-1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.card-2 {
  width: 11.875rem;
  height: 21.5625rem;
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.726);
  margin: 1.875rem;
}
.card-2 .card-img-2 {
  width: 100%;
  height: 70%;
}
.card-2 .card-img-2 img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 0.625rem;
}
.card-2 .card-info-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.card-2 .card-info-2 button, .card-2 .card-info-2 .button-2 {
  border-radius: 5px;
}
.card-2 .card-info-2 p {
  margin-left: 10px;
}
.card-2 .card-info-2 h2 {
  font-size: 1.4375rem;
}

form {
  margin-top: 2.5rem;
  width: 100%;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15.625rem;
  margin-top: 9.375rem;
  align-items: center;
  justify-content: center;
  grid-template-areas: "section-1 section-2 section-2";
  margin-left: 10rem;
  margin-right: 10rem;
  column-gap: 1.25rem;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 15.625rem);
  margin-top: 6.25rem;
  align-items: center;
  justify-content: center;
  grid-template-areas: "section-3 section-3 section-3 section-4" "section-3 section-3 section-3 section-4";
  margin-left: 11rem;
  margin-right: 11rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 15.625rem);
  margin-top: 6.25rem;
  align-items: center;
  justify-content: center;
  grid-template-areas: "section-5 section-6 section-6" "section-5 section-6 section-6";
  margin-left: 10rem;
  margin-right: 10rem;
  column-gap: 1.25rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 12.5rem);
  margin-top: 6.25rem;
  justify-content: center;
  grid-template-areas: "section-7 section-7 section-7 section-8" "section-7 section-7 section-7 section-8";
  margin-left: 11rem;
  margin-right: 11rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: 37.5rem;
  grid-template-rows: repeat(5, 2.8125rem);
  margin-top: 9.375rem;
  align-content: center;
  justify-content: center;
  grid-template-areas: "section-9" "section-10" "section-11" "section-12" "section-13";
  text-align: center;
}
.grid-4 p {
  font-size: 2rem;
}
.grid-4 h2 {
  font-size: 1.875rem;
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(3, 12.5rem);
  grid-template-rows: 5rem 12.5rem;
  margin-top: 6.25rem;
  align-items: center;
  justify-content: center;
  grid-template-areas: "section-f1 section-f1 section-f1" "section-f2 section-f3 section-f4";
  gap: 1rem;
  width: 100%;
  max-width: 120rem;
}

.grid-form-2 {
  display: grid;
  grid-template-columns: repeat(2, 18.75rem);
  grid-template-rows: 5rem 12.5rem;
  margin-top: 6.25rem;
  align-items: center;
  justify-content: center;
  grid-template-areas: "section-f5 section-f5" "section-f6 section-f7";
  gap: 3rem;
  width: 100%;
  max-width: 120rem;
}

@media (max-width: 1250px) {
  .section-2 h2 {
    font-size: 1.7rem;
  }
  .section-2 p {
    font-size: 1.3rem;
  }
  .section-2 .img-precentacion {
    height: 14rem;
    width: 23rem;
  }
  .section-3 h2 {
    margin-bottom: 1rem;
    font-size: 2.3rem;
  }
  .section-3 p {
    font-size: 1.6rem;
  }
  .section-6 h2 {
    margin-bottom: 1rem;
  }
  .section-6 p {
    font-size: 1.6rem;
  }
  .section-7 h2 {
    margin-bottom: 1rem;
    font-size: 2.3rem;
  }
  .section-7 p {
    font-size: 1.6rem;
  }
}
@media (max-width: 1150px) {
  h1 {
    font-size: 4rem;
  }
  .section-2 h2 {
    font-size: 1.7rem;
  }
  .section-2 p {
    font-size: 1.2rem;
  }
  .section-3 h2 {
    font-size: 2.3rem;
  }
  .section-3 p {
    font-size: 1.5rem;
  }
  .section-6 h2 {
    font-size: 2.3rem;
  }
  .section-6 p {
    font-size: 1.5rem;
  }
  .footer {
    margin-top: 6.25rem;
  }
  .section-9 h2 {
    font-size: 2.1rem;
  }
  .section-10 p {
    font-size: 1.7rem;
  }
  .section-11 p {
    font-size: 1.7rem;
  }
  .section-12 p {
    font-size: 1.7rem;
  }
  .section-13 p {
    font-size: 1.7rem;
  }
  .card {
    width: 10.625rem;
    height: 16.25rem;
    margin: 1.25rem;
  }
  .card .card-info h3 {
    font-size: 0.9375rem;
  }
  .card .card-info button, .card .card-info .button-2 {
    border-radius: 5px;
  }
  .card .card-info p {
    margin-left: 10px;
    font-size: 1.3125rem;
  }
  section article div button, section article div .button-2 {
    padding: 7px 16px;
  }
  .section-articulos h2 {
    font-size: 3rem;
  }
}
@media (max-width: 1090px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15.625rem;
    margin-left: 10rem;
    margin-right: 10rem;
    column-gap: 1.25rem;
  }
  .img-precentacion {
    height: 12rem;
    width: 21rem;
  }
  .section-7 h2 {
    font-size: 2.15rem;
  }
  .section-7 p {
    font-size: 1.5rem;
  }
}
@media (max-width: 1020px) {
  .section-2 p {
    font-size: 1rem;
  }
  .section-3 h2 {
    font-size: 2rem;
  }
  .section-3 p {
    font-size: 1.2rem;
  }
  .section-6 h2 {
    font-size: 2rem;
  }
  .section-6 p {
    font-size: 1.2rem;
  }
  .section-7 h2 {
    font-size: 2rem;
  }
  .section-7 p {
    font-size: 1.2rem;
  }
  .section-9 h2 {
    font-size: 2rem;
  }
  .section-10 p {
    font-size: 1.5rem;
  }
  .section-11 p {
    font-size: 1.5rem;
  }
  .section-12 p {
    font-size: 1.5rem;
  }
  .section-13 p {
    font-size: 1.5rem;
  }
  .grid-4 {
    margin-top: 6.25rem;
  }
}
@media (max-width: 950px) {
  .section-2 p {
    font-size: 1rem;
  }
  .section-3 h2 {
    font-size: 2rem;
  }
  .section-3 p {
    font-size: 1.2rem;
  }
  .section-6 h2 {
    font-size: 2rem;
  }
  .section-6 p {
    font-size: 1.2rem;
  }
  .section-7 h2 {
    font-size: 2rem;
  }
  .section-7 p {
    font-size: 1.2rem;
  }
  .grid {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .grid-1 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .grid-2 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .grid-3 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .img-precentacion {
    height: 11rem;
    width: 20rem;
  }
}
@media (max-width: 850px) {
  .section-2 h2 {
    font-size: 1.4rem;
  }
  .section-2 p {
    font-size: 0.9rem;
  }
  .section-3 h2 {
    font-size: 1.5rem;
  }
  .section-3 p {
    font-size: 1rem;
  }
  .section-6 h2 {
    font-size: 1.5rem;
  }
  .section-6 p {
    font-size: 1rem;
  }
  .section-7 h2 {
    font-size: 1.5rem;
  }
  .section-7 p {
    font-size: 1rem;
  }
  .img-precentacion {
    height: 9rem;
    width: 18rem;
  }
  .section-9 h2 {
    font-size: 1.9rem;
  }
  .section-10 p {
    font-size: 1.4rem;
  }
  .section-11 p {
    font-size: 1.4rem;
  }
  .section-12 p {
    font-size: 1.4rem;
  }
  .section-13 p {
    font-size: 1.4rem;
  }
  .grid {
    margin-top: 7rem;
    grid-template-rows: 12.5rem;
    margin-left: 4.6875rem;
    margin-right: 4.6875rem;
  }
  .grid-1 {
    margin-top: 3rem;
    margin-left: 4.6875rem;
    margin-right: 4.6875rem;
    grid-template-rows: repeat(2, 10.625rem);
  }
  .grid-2 {
    margin-top: 3rem;
    margin-left: 4.6875rem;
    margin-right: 4.6875rem;
    grid-template-rows: repeat(2, 10.625rem);
  }
  .grid-3 {
    margin-top: 3rem;
    margin-left: 4.6875rem;
    margin-right: 4.6875rem;
    grid-template-rows: repeat(2, 10.625rem);
  }
  .grid-4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .navbar li a {
    font-size: 1.25rem;
  }
}
@media (max-width: 730px) {
  h1 {
    font-size: 4.0625rem;
    height: 8.125rem;
  }
  .navbar {
    height: 4rem;
  }
  .navbar li a {
    font-size: 0.9375rem;
  }
  .img-precentacion {
    height: 9.375rem;
    width: 15.625rem;
  }
  .section-2 h2 {
    font-size: 1.25rem;
  }
  .section-2 p {
    font-size: 0.75rem;
  }
  .section-3 h2 {
    font-size: 1.25rem;
  }
  .section-3 p {
    font-size: 0.9375rem;
  }
  .section-6 h2 {
    font-size: 1.25rem;
  }
  .section-6 p {
    font-size: 0.9375rem;
  }
  .section-7 h2 {
    font-size: 1.25rem;
  }
  .section-7 p {
    font-size: 0.9375rem;
  }
  .section-9 h2 {
    font-size: 1.5625rem;
  }
  .section-10 p {
    font-size: 1.25rem;
  }
  .section-11 p {
    font-size: 1.25rem;
  }
  .section-12 p {
    font-size: 1.25rem;
  }
  .section-13 p {
    font-size: 1.25rem;
  }
  .grid-4 {
    margin-bottom: 0.3125rem;
  }
}
@media (max-width: 620px) {
  .img-precentacion {
    height: 7rem;
    width: 12.5rem;
  }
  .section-2 p {
    font-size: 0.625rem;
  }
  .section-3 h2 {
    font-size: 1.25rem;
  }
  .section-3 p {
    font-size: 0.8125rem;
  }
  .section-6 h2 {
    font-size: 1.25rem;
  }
  .section-6 p {
    font-size: 0.8125rem;
  }
  .section-7 h2 {
    font-size: 1.25rem;
    margin-top: -1.5rem;
  }
  .section-7 p {
    font-size: 0.8125rem;
  }
  .section-9 h2 {
    font-size: 1.5625rem;
  }
  .section-10 p {
    font-size: 1rem;
  }
  .section-11 p {
    font-size: 1rem;
  }
  .section-12 p {
    font-size: 1rem;
  }
  .section-13 p {
    font-size: 1rem;
  }
  .grid {
    margin-top: 4rem;
    grid-template-rows: 9.375rem;
  }
  .grid-1 {
    margin-top: 3.5rem;
    grid-template-rows: repeat(2, 7.5rem);
  }
  .grid-2 {
    margin-top: 3.5rem;
    grid-template-rows: repeat(2, 7.5rem);
  }
  .grid-3 {
    margin-top: 3.5rem;
    grid-template-rows: repeat(2, 7.5rem);
  }
  .grid-4 {
    margin-top: 4.0625rem;
    grid-template-columns: 18.75rem;
    grid-template-rows: repeat(5, 2rem);
  }
  .footer {
    margin-top: 4.375rem;
  }
}
@media (max-width: 550px) {
  .img-precentacion {
    height: 6.25rem;
    width: 10.9375rem;
  }
  .section-2 h2 {
    font-size: 0.9375rem;
  }
  .section-2 p {
    font-size: 0.5rem;
  }
  .section-3 h2 {
    font-size: 1rem;
  }
  .section-3 p {
    font-size: 0.625rem;
  }
  .section-6 h2 {
    font-size: 1rem;
  }
  .section-6 p {
    font-size: 0.625rem;
  }
  .section-7 h2 {
    font-size: 1rem;
  }
  .section-7 p {
    font-size: 0.625rem;
  }
  .grid-4 {
    margin-top: 3.125rem;
  }
  .grid-4 h2 {
    font-size: 1.25rem;
  }
  .grid-4 p {
    font-size: 0.9375rem;
  }
}
@media (max-width: 460px) {
  h1 {
    font-size: 3.75rem;
  }
  .grid {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
  .grid-1 {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
  .grid-2 {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
  .grid-3 {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
  .grid-4 {
    margin-top: 1.875rem;
  }
  .img-precentacion {
    height: 4.6875rem;
    width: 9.375rem;
  }
}
@media (max-width: 360px) {
  .section-2 h2 {
    font-size: 0.6875rem;
    margin-bottom: 0.3125rem;
  }
  .section-2 p {
    font-size: 0.5rem;
  }
  .section-3 h2 {
    font-size: 0.6875rem;
    margin-bottom: 0.3125rem;
  }
  .section-3 p {
    font-size: 0.5rem;
  }
  .section-6 h2 {
    font-size: 0.6875rem;
    margin-bottom: 0.3125rem;
  }
  .section-6 p {
    font-size: 0.5rem;
  }
  .section-7 h2 {
    font-size: 0.6875rem;
    margin-bottom: 0.3125rem;
  }
  .section-7 p {
    font-size: 0.5rem;
  }
  .grid {
    grid-template-rows: 5.625rem;
  }
  .grid-1 {
    grid-template-rows: repeat(2, 5.625rem);
  }
  .grid-2 {
    grid-template-rows: repeat(2, 5.625rem);
  }
  .grid-3 {
    grid-template-rows: repeat(2, 5.625rem);
  }
  .grid-4 {
    margin-bottom: 1.875rem;
  }
  h1 {
    font-size: 2.5rem;
    height: 6.25rem;
  }
}
@media (max-width: 330px) {
  .img-precentacion {
    height: 4.375rem;
    width: 7.5rem;
  }
}
@media (max-width: 1086px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15.625rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    column-gap: 1rem;
  }
}
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 9.375rem);
    grid-template-rows: 15.625rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    column-gap: 12rem;
  }
  .img-precentacion {
    height: 12.5rem;
    width: 18.75rem;
  }
}
@media (max-width: 840px) {
  .grid {
    grid-template-columns: repeat(3, 8.75rem);
    grid-template-rows: 15.625rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    column-gap: 12rem;
  }
  .section-2 h2 {
    font-size: 1.875rem;
  }
  .section-2 p {
    font-size: 1.25rem;
  }
  .card {
    width: 12rem;
    height: 16.25rem;
    margin-top: 40px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .card .card-info h3 {
    font-size: 0.9375rem;
  }
  .card .card-info button, .card .card-info .button-2 {
    border-radius: 5px;
  }
  .card .card-info p {
    margin-left: 10px;
    font-size: 1.3125rem;
  }
}
@media (max-width: 790px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15.625rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    column-gap: 1rem;
  }
  .section-2 h2 {
    font-size: 0.9375rem;
  }
  .section-2 p {
    font-size: 0.75rem;
  }
  .img-precentacion {
    height: 9.375rem;
    width: 15.625rem;
  }
  .grid-form {
    grid-template-columns: repeat(3, 150p);
    grid-template-rows: 5rem 12.5rem;
    width: 100%;
    max-width: 100rem;
  }
  .section-f1 h2 {
    font-size: 1.875rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
  }
  input {
    width: 100%;
    padding: 1rem;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .link-twitter {
    height: 4.375rem;
    width: 4.375rem;
  }
  .link-instagram {
    height: 4.375rem;
    width: 4.375rem;
  }
  .link-faceboock {
    height: 4.375rem;
    width: 4.375rem;
  }
  .navbar li a {
    font-size: 1.4375rem;
  }
}
@media (max-width: 680px) {
  h1 {
    font-size: 3.125rem;
    justify-content: center;
    align-content: center;
    height: 7rem;
  }
  .grid {
    margin-top: 3.75rem;
    grid-template-columns: repeat(2, 9.375rem);
    grid-template-rows: 15.625rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    column-gap: 8rem;
  }
  .grid-form {
    grid-template-columns: repeat(3, 9.375rem);
    grid-template-rows: 5rem 12.5rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 75rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.5625rem;
  }
  input {
    width: 90%;
    padding: 0.625rem;
    font-size: 0.5625rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .section-2 h3 {
    font-size: 1.25rem;
  }
  .section-2 p {
    font-size: 0.9375rem;
  }
  .section-f2 h3 {
    font-size: 0.9375rem;
  }
  .section-f3 h3 {
    font-size: 0.9375rem;
  }
  .section-f4 h3 {
    font-size: 0.9375rem;
  }
  footer {
    height: 6rem;
    margin-top: 6.25rem;
    justify-content: end;
    align-content: end;
  }
  .link-twitter {
    height: 3.4375rem;
    width: 3.4375rem;
  }
  .link-instagram {
    height: 3.4375rem;
    width: 3.4375rem;
  }
  .link-faceboock {
    height: 3.4375rem;
    width: 3.4375rem;
  }
  footer a img {
    margin-top: 3rem;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 2.1875rem;
  }
  .grid {
    margin-top: 3.75rem;
    grid-template-columns: repeat(2, 8rem);
    grid-template-rows: 15.625rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    column-gap: 8rem;
  }
  .grid-1 {
    margin-top: 5rem;
  }
  .grid-2 {
    margin-top: 5rem;
  }
  .grid-3 {
    margin-top: 5rem;
  }
  .section-2 h3 {
    font-size: 1rem;
  }
  .section-2 p {
    font-size: 0.8125rem;
  }
  .navbar {
    height: 3.125rem;
  }
  .navbar li {
    margin-bottom: 1.25rem;
  }
  .navbar li a {
    font-size: 1.25rem;
  }
  .card {
    width: 10rem;
    height: 15rem;
    margin-top: 40px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .section-articulos h2 {
    font-size: 2rem;
  }
  button, .button-2 {
    padding: 7px 17px;
  }
}
@media (max-width: 514px) {
  .grid {
    margin-top: 4.375rem;
    grid-template-columns: repeat(2, 5rem);
    grid-template-rows: 12.5rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    column-gap: 10rem;
  }
  .section-2 h3 {
    font-size: 0.9375rem;
  }
  .section-2 p {
    font-size: 0.6875rem;
  }
  .img-precentacion {
    height: 7.8125rem;
    width: 14.0625rem;
  }
  .grid-form {
    grid-template-columns: repeat(3, 7.8125rem);
    grid-template-rows: 5rem 12.5rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 75rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.4375rem;
  }
  input {
    width: 90%;
    padding: 0.625rem;
    font-size: 0.5625rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .section-f1 h2 {
    font-size: 1.5625rem;
  }
  .section-f2 h3 {
    font-size: 0.75rem;
  }
  .section-f3 h3 {
    font-size: 0.75rem;
  }
  .section-f4 h3 {
    font-size: 0.75rem;
  }
  .navbar {
    height: 3.125rem;
  }
  .navbar li {
    margin-bottom: 1.25rem;
  }
  .navbar li a {
    font-size: 0.9375rem;
  }
  .card {
    width: 9rem;
    height: 15rem;
    margin-top: 35px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .card .card-info button, .card .card-info .button-2 {
    padding: 5px 7px;
  }
  .card .card-info p {
    margin-left: 10px;
    font-size: 1.1875rem;
  }
  .navbar {
    margin-bottom: -3.125rem;
  }
}
@media (max-width: 480px) {
  h1 {
    height: 4.6875rem;
    font-size: 1.875rem;
  }
  .grid {
    margin-top: 7rem;
    grid-template-columns: repeat(2, 1.5625rem);
    grid-template-rows: 6.25rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    column-gap: 8rem;
  }
  .section-2 h3 {
    font-size: 0.8125rem;
  }
  .section-2 p {
    font-size: 0.4375rem;
  }
  .img-precentacion {
    height: 4.6875rem;
    width: 7.8125rem;
  }
  .grid-form {
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: 3.125rem 7.5rem;
    width: 100%;
    max-width: 75rem;
    margin-top: 1.25rem;
    margin-bottom: 5rem;
  }
  .grid-form form {
    margin-bottom: 0.0625rem;
    margin-top: 0.0625rem;
  }
  label {
    display: block;
    margin-top: 0.3125rem;
    font-size: 0.4375rem;
  }
  input {
    width: 100%;
    padding: 0.625rem;
    font-size: 0.5625rem;
    margin-top: 0.0625rem;
  }
  .navbar {
    height: 3.125rem;
  }
  .section-f1 h2 {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
  }
  .section-f2 h3 {
    font-size: 0.5rem;
  }
  .section-f3 h3 {
    font-size: 0.5rem;
  }
  .section-f4 h3 {
    font-size: 0.5rem;
  }
  footer {
    margin-top: 5rem;
  }
  .card {
    width: 7rem;
    height: 12rem;
    margin-top: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .card .card-info h3 {
    font-size: 0.75rem;
  }
  .card .card-info button, .card .card-info .button-2 {
    padding: 3px 3px;
  }
  .card .card-info p {
    margin-left: 2px;
    font-size: 0.9375rem;
  }
}
@media (max-width: 350px) {
  .card {
    width: 7rem;
    height: 12rem;
    margin-top: 30px;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
  }
}
@media (max-width: 1060px) {
  .card-2 {
    width: 11rem;
    height: 19rem;
    margin: 1.875rem;
  }
  .card-2 .card-img-2 {
    width: 100%;
    height: 70%;
  }
  .card-2 .card-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 0.625rem;
  }
  .alimentos img {
    height: 15.625rem;
    width: 31.25rem;
  }
}
@media (max-width: 960px) {
  .card-2 {
    width: 12.5rem;
    height: 23.75rem;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.726);
    margin-left: 4.375rem;
    margin-right: 4.375rem;
  }
  .grid-form-2 form {
    margin-top: 2.5rem;
  }
  .grid-form-2 label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 3rem;
  }
  .grid-form-2 input {
    width: 100%;
    padding: 1rem;
    font-size: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
@media (max-width: 720px) {
  .grid-form-2 form {
    margin-top: 2rem;
    margin-left: 3rem;
    width: 80%;
    max-width: 80%;
  }
  .grid-form-2 label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
  }
  .grid-form-2 input {
    width: 90%;
    padding: 0.7rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .grid-form-2 h3 {
    font-size: 2.1875rem;
  }
  .grid-form-2 h4 {
    font-size: 1.5625rem;
  }
}
@media (max-width: 681px) {
  .card-2 {
    width: 11rem;
    height: 19rem;
    margin: 1.6rem;
  }
  .card-2 .card-img-2 {
    width: 100%;
    height: 70%;
  }
  .card-2 .card-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 0.625rem;
  }
  .grid-form-2 {
    grid-template-columns: repeat(2, 15.625rem);
    grid-template-rows: 5rem 12.5rem;
  }
}
@media (max-width: 560px) {
  .alimentos img {
    height: 10.9375rem;
    width: 21.875rem;
  }
  .card-2 {
    width: 9rem;
    height: 17rem;
    margin: 1.875rem;
  }
  .card-2 .card-img-2 {
    width: 100%;
    height: 70%;
  }
  .card-2 .card-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 0.625rem;
  }
  .card-2 .card-info-2 p {
    margin-left: 10px;
    font-size: 1rem;
  }
  .card-2 .card-info-2 h2 {
    font-size: 1rem;
  }
  .grid-form-2 {
    grid-template-columns: repeat(2, 12.5rem);
    grid-template-rows: 5rem 12.5rem;
    margin-bottom: 6.25rem;
  }
  .grid-form-2 h3 {
    font-size: 1.875rem;
  }
  .grid-form-2 h4 {
    font-size: 1.25rem;
  }
  .grid-form-2 form {
    margin-left: 2rem;
  }
}
@media (max-width: 450px) {
  .alimentos img {
    height: 8.125rem;
    width: 18.75rem;
  }
  .grid-form-2 {
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: 5rem 12.5rem;
    margin-bottom: 6.25rem;
    gap: 1rem;
  }
  .grid-form-2 h3 {
    font-size: 1.875rem;
  }
  .grid-form-2 h4 {
    font-size: 1.25rem;
  }
  .grid-form-2 form {
    margin-left: 2rem;
  }
  .card-2 {
    width: 8rem;
    height: 15rem;
    margin: 1.25rem;
  }
  .button-2 {
    padding: 0.4rem 0.9rem;
    font-size: 0.8rem;
    border-radius: 3px;
  }
}
@media (max-width: 340px) {
  .card-2 {
    width: 7rem;
    height: 13rem;
    margin: 1rem;
  }
  .card-2 .card-img-2 {
    width: 100%;
    height: 70%;
  }
  .card-2 .card-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 0.625rem;
  }
  .card-info-2 p {
    margin-left: 0.5rem;
    font-size: 0.3125rem;
  }
  .card-info-2 h2 {
    font-size: 1rem;
  }
  .card-info-2 .button-2 {
    padding: 0.3rem 0.4rem;
    font-size: 0.8rem;
    border-radius: 3px;
  }
  .grid-form-2 {
    grid-template-columns: repeat(2, 9rem);
  }
  .grid-form-2 h3 {
    font-size: 1rem;
  }
  .grid-form-2 h4 {
    font-size: 0.8rem;
  }
  .grid-form-2 form {
    margin-left: 2rem;
  }
}
@media (max-width: 1000px) {
  .adopcion img {
    height: 18.75rem;
    width: 31.25rem;
  }
  .section-adopcion h2 {
    font-size: 2.8125rem;
  }
  .card-1 {
    width: 11.875rem;
    height: 21.875rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media (max-width: 700px) {
  .adopcion img {
    height: 18.75rem;
    width: 31.25rem;
  }
  .section-adopcion h2 {
    font-size: 2rem;
  }
  .card-1 {
    width: 11.875rem;
    height: 21.875rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 550px) {
  .adopcion img {
    height: 12.5rem;
    width: 25rem;
    margin-bottom: -3.125rem;
  }
  .section-adopcion h2 {
    font-size: 2rem;
  }
  .card-1 {
    width: 10.625rem;
    height: 20rem;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.726);
    margin: 1.875rem;
  }
  .card-1 .card-img-1 {
    width: 100%;
    height: 60%;
  }
  .card-1 .card-img-1 img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
    border-radius: 0.625rem;
  }
  .card-1 .card-info-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
  }
  .card-1 .card-info-1 h3 {
    margin-bottom: 0.0625rem;
  }
  .card-1 .card-info-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0.9375rem;
  }
}
@media (max-width: 480px) {
  .adopcion img {
    height: 9.375rem;
    width: 20rem;
    margin-bottom: -3.125rem;
  }
  .section-adopcion h2 {
    font-size: 2rem;
  }
  .card-1 {
    width: 9.375rem;
    height: 18.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .card-1 .card-img-1 {
    width: 100%;
    height: 60%;
  }
  .card-1 .card-img-1 img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
    border-radius: 0.625rem;
  }
  .card-1 .card-info-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
  }
  .card-1 .card-info-1 h3 {
    margin-bottom: 0.0625rem;
  }
  .card-1 .card-info-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0.9375rem;
  }
}
@media (max-width: 370px) {
  .adopcion img {
    height: 8.125rem;
    width: 18.75rem;
    margin-bottom: -3.125rem;
  }
  .section-adopcion h2 {
    font-size: 2rem;
  }
  .card-1 {
    width: 8.125rem;
    height: 13.75rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  .card-1 .card-img-1 {
    width: 100%;
    height: 60%;
  }
  .card-1 .card-img-1 img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
    border-radius: 0.625rem;
  }
  .card-1 .card-info-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
  }
  .card-1 .card-info-1 h3 {
    margin-bottom: 0.0625rem;
  }
  .card-1 .card-info-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0.625rem;
  }
}

/*# sourceMappingURL=style.css.map */
