.img-precentacion{
    height: 12.5rem;
    width: 21.875rem;
    border-radius: 20px;
    margin-bottom: .1875rem;
}
.articulo{
    font-size: 3.75rem;
    text-align: center;
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
}
.ver-mas{
    display: block;
    margin: 5rem auto;
}
.alimentos{
    text-align: center;
    margin-bottom: 6.25rem;
    margin-top: 9.375rem;
    img{
        height: 25rem;
        width: 43.75rem;
        border-radius: 10px;
        text-align: center;
    }
}
.alimentos-1{
    text-align: center;
    margin-top: 9.375rem;
    margin-bottom: 6.25rem;
    img{
        height: 21.875rem;
        width:  43.75rem;
        border-radius: 10px;
    }
}
.adopcion{
    text-align: center;
    margin-top: 9.375rem;
    margin-bottom: 6.25rem;
}