form{
    margin-top: 2.5rem;
    width: 100%;
    max-width: 100%;
}
label {
    display: block; 
    margin-bottom: 0.5rem; 
    font-size: 1rem;
}
input {
    width: 100%; 
    padding: 1rem; 
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}