h2{
    font-family: "Inter", sans-serif;
    margin-bottom: .625rem;
}
h3{
    font-family: "Inter", sans-serif;
    font-size: 1.12rem;
}
h4{
    font-family: "Inter", sans-serif;
}
p{
    font-family: "Inter", sans-serif;
    font-size: 1.570rem;
}
ul li{
    font-family: "Inter", sans-serif;
    list-style: none;
}
