@media (max-width: 460px){
    h1{
        font-size: 3.75rem;
    }
    .grid{
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }
    .grid-1{
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }
    .grid-2{
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }
    .grid-3{
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }
    .grid-4{
        margin-top: 1.875rem;
    }
    .img-precentacion{
        height: 4.6875rem;
        width: 9.375rem;
    }
}