
@media (max-width: 650px){
    h1{
        font-size: 2.1875rem;
    }
    .grid {
        margin-top: 3.75rem;
        grid-template-columns: repeat(2,8rem);
        grid-template-rows: 15.625rem;
        margin-left: 6.25rem;
        margin-right: 6.25rem;
        column-gap: 8rem;
    }    
    .grid-1{
        margin-top: 5rem;
    } 
    .grid-2 {
        margin-top: 5rem;
    } 
    .grid-3 {
        margin-top: 5rem;
    } 
    .section-2{
        h3{
            font-size: 1rem;
        }
        p{
            font-size: .8125rem;
        }
    }
    .navbar{
        height: 3.125rem;
        li {
            margin-bottom: 1.25rem;
            a{
                font-size: 1.25rem;
            }
        }
    }
    .card{
        width: 10rem;
        height: 15rem;
        margin-top: 40px;
        margin-left:  3rem;
        margin-right: 3rem;
    }
    .section-articulos{
        h2{
            font-size: 2rem;
        }
    }
    button{
        padding: 7px 17px;
    }
}