@media (max-width: 550px){
    .img-precentacion{
        height: 6.25rem;
        width: 10.9375rem;
    }
    .section-2{
        h2{
            font-size: .9375rem;
        }
        p {
            font-size: .5rem;
        }
    }
    .section-3{
        h2{
            font-size: 1rem;
        }
        p {
            font-size: .625rem;
        }
    }
    .section-6{
        h2{
            font-size: 1rem;
        }
        p {
            font-size: .625rem;
        }
    }
    .section-7{
        h2{
            font-size: 1rem;
        }
        p {
            font-size: .625rem;
        }
    }
    .grid-4{
        margin-top: 3.125rem;
        h2{
            font-size: 1.25rem;
        }
        p{
            font-size: .9375rem;
        }
    }
}