@media (max-width: 1020px){
    .section-2{
        p {
            font-size: 1rem;
        }
    }
    .section-3{
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
    .section-6{
        h2{
            font-size: 2rem;
        }
    p{
        font-size: 1.2rem;
    }
    }
    .section-7{
        h2{
            font-size: 2rem;
        }
    p{
        font-size: 1.2rem;
    }
    }
    .section-9{
        h2{
            font-size: 2rem;
        }
    }
    .section-10{
        p{
            font-size: 1.5rem;
        }
    }
    .section-11{
        p{
            font-size: 1.5rem;
        }
    }
    .section-12{
        p{
            font-size: 1.5rem;
        }
    }
    .section-13{
        p{
            font-size: 1.5rem;
        }
    }
    .grid-4{
        margin-top: 6.25rem;
    }
}