@media (max-width: 950px){
    .section-2{
        p {
            font-size: 1rem;
        }
    }
    .section-3{
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
    .section-6{
        h2{
            font-size: 2rem;
        }
    p{
        font-size: 1.2rem;
    }
    }
    .section-7{
        h2{
            font-size: 2rem;
        }
    p{
        font-size: 1.2rem;
    }
    }
    .grid{
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .grid-1{
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .grid-2{
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .grid-3{
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .img-precentacion{
        height: 11rem;
        width: 20rem;
    }
}