@media (max-width: 700px){
    .adopcion{
        img{
            height: 18.75rem;
            width: 31.25rem;
        }
    }
    .section-adopcion{
        h2{
            font-size: 2rem;
        }
    }
    .card-1{
        width: 11.875rem;
        height: 21.875rem;
        margin-left: 2rem;
        margin-right: 2rem;
}
}